<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cadastro" aria-expanded="false"
        aria-controls="cadastro">Adicionar</button>
</p>
<div class="collapse mb-3" id="cadastro">
    <div class="card card-body">
        <form [formGroup]="formContato">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" formControlName="nome" placeholder="Seu Nome Aqui" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTelefone">Telefone</label>
                    <input type="tel" class="form-control" id="inputTelefone" formControlName="telefone" placeholder="(81)99999-4444" mask="(00) 00000-0000" required>
                </div>
            </div>

            <div formGroupName="endereco">
                <div class="form-group">
                    <label for="inputEndereco">Endereco</label>
                    <input type="text" class="form-control" id="inputEndereco" formControlName="logradouro" placeholder="Av. Agamenom Magalhaes, 200">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCidade">Cidade</label>
                        <input type="text" class="form-control" id="inputCidade" formControlName="cidade" placeholder="Recife">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEstado">Estado</label>
                        <select id="inputEstado" formControlName="estado" class="form-control">
                            <option selected disabled>Selecione</option>
                            <option *ngFor="let item of estadosList | orderBy:'nome'">{{item.nome}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputCep">CEP</label>
                        <input type="text" class="form-control" id="inputCep" formControlName="cep" mask="00000-000">
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary" (click)="cadastrar()" [disabled]='formContato.invalid'>Cadastrar</button>
        </form>
    </div>
</div>


<div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let item of contatoList | async | orderBy:'nome'; let i = index">
        <div class="card-header" [id]="i" data-toggle="collapse" attr.data-target="#card{{i}}"
        aria-expanded="true" attr.aria-controls="card{{i}}">
            <!-- <img src="..." alt="..." class="rounded-circle"> -->
            <span class="mb-0 title float-left">{{item.nome}}</span>
            <span class="float-right">{{item.telefone | mask: '(00) 00000-0000'}}</span>
        </div>

        <div id="card{{i}}" class="collapse" attr.aria-labelledby="card{{i}}" data-parent="#accordionExample">
            <div class="card-body">
                <p *ngIf="item.nome"><strong>Nome: </strong>{{item.nome}}</p>
                <p *ngIf="item.telefone"><strong>Telefone: </strong>{{item.telefone | mask: '(00) 00000-0000'}}</p>
                <p *ngIf="item.endereco.logradouro"><strong>Logradouro: </strong>{{item.endereco.logradouro}}</p>
                <p *ngIf="item.endereco.cidade"><strong>Cidade: </strong>{{item.endereco.cidade}}</p>
                <p *ngIf="item.endereco.estado"><strong>Estado: </strong>{{item.endereco.estado}}</p>
                <p *ngIf="item.endereco.cep"><strong>CEP: </strong>{{item.endereco.cep | mask: '00000-000'}}</p>
            </div>
        </div>
    </div>
</div>