<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cadastro" aria-expanded="false"
        aria-controls="cadastro">Novo</button>
</p>
<div class="collapse mb-3" id="cadastro">
    <div class="card card-body">
        <form [formGroup]="formContato">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" formControlName="nome" placeholder="Seu Nome Aqui" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTelefone">Telefone</label>
                    <input type="tel" class="form-control" id="inputTelefone" formControlName="telefone" placeholder="(81)99999-4444" required>
                </div>
            </div>

            <div formGroupName="endereco">
                <div class="form-group">
                    <label for="inputEndereco">Endereco</label>
                    <input type="text" class="form-control" id="inputEndereco" formControlName="logradouro" placeholder="Av. Agamenom Magalhaes, 200">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCidade">Cidade</label>
                        <input type="text" class="form-control" id="inputCidade" formControlName="cidade" placeholder="Recife">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEstado">Estado</label>
                        <select id="inputEstado" formControlName="estado" class="form-control">
                            <option selected disabled>Selecione</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputCep">CEP</label>
                        <input type="text" class="form-control" id="inputCep" formControlName="cep">
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
        </form>
    </div>
</div>


<div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let item of contatoList; let i = index">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    {{item.nome}}
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>